RewriteEngine On



# Ne pas réécrire les fichiers ou dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrire toutes les URLs vers index.php
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
