/* home.scss */

// Styles spécifiques à la page d'accueil
#hero {
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
        margin-top: auto;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0;
        color: var(--text-highlight-color);
    }

    p {
        color: var(--text-color);
        text-align: center;
        padding: 1.5rem;
    }

    #changingText {
        border-right: 2px solid var(--text-highlight-color); /* Curseur clignotant */
        font-weight: bold; /* Rend le texte plus visible */
        white-space: nowrap; /* Assure que le texte ne passe pas à la ligne */
        overflow: hidden; /* Empêche le débordement du texte */
        letter-spacing: 0.15em; /* Espacement des lettres */
        color: var(--text-highlight-color);

        animation: blinkingCursor 0.8s steps(5, start) infinite;
    }

    a.primary {
        left: 50%;
        transform: translateX(-50%);
    }

    .wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: auto;
    }

    .cta {
        display: flex;
        padding: 10px 45px;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        color: white;
        background: var(--secondary-color);
        transition: 1s;
        box-shadow: 6px 6px 0 black;
        transform: skewX(-15deg);
    }

    .cta:focus {
        outline: none;
    }

    .cta:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 black;
    }

    .cta span:nth-child(2) {
        transition: 0.5s;
        margin-right: 0px;
    }

    .cta:hover span:nth-child(2) {
        transition: 0.5s;
        margin-right: 45px;
    }

    span {
        transform: skewX(15deg);
    }

    span:nth-child(2) {
        width: 20px;
        margin-left: 30px;
        position: relative;
        top: 12%;
    }

    /**************SVG****************/

    path.one {
        transition: 0.4s;
        transform: translateX(-60%);
    }

    path.two {
        transition: 0.5s;
        transform: translateX(-30%);
    }

    .cta:hover path.three {
        animation: color_anim 1s infinite 0.2s;
    }

    .cta:hover path.one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
    }

    .cta:hover path.two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
    }

    /* SVG animations */

    @keyframes color_anim {
        0% {
            fill: white;
        }
        50% {
            fill: #fbc638;
        }
        100% {
            fill: white;
        }
    }
}

#exp {
    #cv {
        text-align: center;
    }
    .articles {
        margin: 1.5rem auto;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    // Styles spécifiques à chaque article d'expérience
    .article-wrapper {
        background-color: #140432;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        width: 300px;
        height: 500px;
        border-radius: 16px;

        figure img {
            width: 100%; // Faites correspondre avec la largeur du wrapper pour éviter le débordement
            height: 168; // Hauteur automatique pour conserver les proportions de l'image
            border-radius: 16px 16px 0 0;
        }

        .article-body {
            padding: 1em;
            display: flex;
            flex-direction: column;

            p {
                height: 150px;
                text-align: left;
                font-size: 14px;
                padding: 1rem 0;
            }

            .skills {
                flex-grow: 1;
                border-top: 1px solid var(--text-color);
                border-bottom: 1px solid var(--text-color);
                padding: 1em;
                display: flex;
                justify-content: space-between;
            }

            .read-more {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }
    }

    .retours {
        margin: 1.5rem 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        .retour {
            color: white;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: rgb(20, 4, 50);
            border-left: var(--secondary-color) 5px solid;
            border-radius: 0 16px 16px 0;
            padding: 1em;

            p {
                text-align: left;
                font-size: 16px;
                flex-grow: 1; // Faites grandir <p> pour prendre tout l'espace disponible
                &::before {
                    content: "“";
                }
                &::after {
                    content: "”";
                }

                &::before {
                    margin-right: 0.25em;
                }
                &::after {
                    margin-left: 0.25em;
                }
            }

            .auteur {
                font-weight: bold;
                font-size: 16px;
                text-align: right;
            }
        }
    }

    .pagination-container {
        text-align: center;

        .pagination-btn {
            display: inline-block;
            margin: 0 5px;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.5); // Style pour le bouton non actif
            &.active {
                .pagination-fill {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: white; // Couleur de remplissage
                    animation: fillUp linear 5000ms; // Utilisez une variable pour le délai ou remplacez par la valeur fixe
                }
            }
        }
    }
}

#about {
    .infos-perso {
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .info:not(:last-child) {
            width: 100%;
            text-align: center;
        }
    }

    .timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem auto;
        justify-content: center;
        align-items: center;

        .timeline-line {
            position: absolute;
            width: 5px;
            height: 100%;
            background-color: var(--secondary-color);
            left: 50%;
            transform: translateX(-50%);
        }

        .timeline-item {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            width: 40%;
            padding: 1.5rem;
            background-color: #140432;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

            .date {
                font-size: 1.5rem;
                color: var(--text-highlight-color);
            }

            .description {
                font-size: 1.5rem;
                color: var(--text-color);
            }

            &:nth-child(odd) {
                flex-direction: row-reverse;
                border-left: var(--secondary-color) 5px solid;
                text-align: right;
                transform: translateX(60%);
                border-radius: 0 16px 16px 0;
            }

            &:nth-child(even) {
                border-right: var(--secondary-color) 5px solid;
                text-align: left;
                transform: translateX(-60%);
                border-radius: 16px 0 0 16px;
            }
        }
    }
}

#veille {
    display: flex;
    flex-direction: column;
    p {
        margin: 1.5rem 0;
    }

    a {
        margin: 0 auto;
        width: 33%;
        text-align: center;
        font-weight: bold;
        padding: 1rem 2rem;
        text-decoration: none;
        color: white;
        background-color: var(--secondary-color);
        border-radius: 16px;
        transition: 0.5s;


        &:hover {
            transform: scale(1.1);
        }

    }
    


}

@media screen and (max-width: 768px) {
    .articles {
        padding: 16px 0;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        max-width: 100vw;
        margin: 0 auto; // CENTER HORIZONTALLY

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .articles article {
        flex-shrink: 0;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .articles {
        padding: 16px 0;
        display: flex; /* Rend le conteneur flexible */
        overflow-x: auto; /* Active le défilement horizontal */
        overflow-y: hidden; /* Empêche le défilement vertical dans le conteneur */
        -webkit-overflow-scrolling: touch; /* Défilement fluide sur iOS */
        max-width: 100vw; /* Assure que le conteneur ne dépasse pas la largeur de la fenêtre */
        margin: 0 auto; /* Centre le conteneur si nécessaire */

        &::-webkit-scrollbar {
            display: none; /* Cache la barre de défilement */
        }
    }

    .articles article {
        flex-shrink: 0; /* Empêche les articles de réduire leur taille */
        margin-right: 20px; /* Espacement entre les articles */

        &:last-child {
            margin-right: 0; /* Supprime l'espacement du dernier article */
        }
    }
}

/* Animation pour le curseur clignotant */
@keyframes blinkingCursor {
    from {
        border-right-color: var(--text-highlight-color);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
