@charset "UTF-8";
/* home.scss */
#hero {
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#hero h1 {
  margin-top: auto;
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
  color: var(--text-highlight-color);
}
#hero p {
  color: var(--text-color);
  text-align: center;
  padding: 1.5rem;
  margin-bottom: auto;
}
#hero #changingText {
  border-right: 2px solid var(--text-highlight-color); /* Curseur clignotant */
  font-weight: bold; /* Rend le texte plus visible */
  white-space: nowrap; /* Assure que le texte ne passe pas à la ligne */
  overflow: hidden; /* Empêche le débordement du texte */
  letter-spacing: 0.15em; /* Espacement des lettres */
  color: var(--text-highlight-color);
  animation: blinkingCursor 0.8s steps(5, start) infinite;
}
#hero a.primary {
  left: 50%;
  transform: translateX(-50%);
}

#exp #cv {
  text-align: center;
}
#exp .articles {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
#exp .article-wrapper {
  background-color: #140432;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 500px;
  border-radius: 16px;
}
#exp .article-wrapper figure img {
  width: 100%;
  height: 168;
  border-radius: 16px 16px 0 0;
}
#exp .article-wrapper .article-body {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
#exp .article-wrapper .article-body p {
  height: 150px;
  text-align: left;
  font-size: 14px;
  padding: 1rem 0;
}
#exp .article-wrapper .article-body .skills {
  flex-grow: 1;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
#exp .article-wrapper .article-body .read-more {
  display: flex;
  width: 100%;
  justify-content: center;
}
#exp .retours {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
#exp .retours .retour {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(20, 4, 50);
  border-left: var(--secondary-color) 5px solid;
  border-radius: 0 16px 16px 0;
  padding: 1em;
}
#exp .retours .retour p {
  text-align: left;
  font-size: 16px;
  flex-grow: 1;
}
#exp .retours .retour p::before {
  content: "“";
}
#exp .retours .retour p::after {
  content: "”";
}
#exp .retours .retour p::before {
  margin-right: 0.25em;
}
#exp .retours .retour p::after {
  margin-left: 0.25em;
}
#exp .retours .retour .auteur {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}
#exp .pagination-container {
  text-align: center;
}
#exp .pagination-container .pagination-btn {
  display: inline-block;
  margin: 0 5px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
#exp .pagination-container .pagination-btn.active .pagination-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  animation: fillUp linear 5000ms;
}

#about h3 {
  text-align: center;
  color: var(--text-highlight-color);
  border-bottom: var(--text-highlight-color) 2px solid;
  padding: 1rem 0;
}
#about .infos-perso {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
#about .infos-perso .info:not(:last-child) {
  width: 100%;
  text-align: center;
}
#about .timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem auto;
  justify-content: center;
  align-items: center;
}
#about .timeline .timeline-line {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--secondary-color);
  left: 50%;
  transform: translateX(-50%);
}
#about .timeline .timeline-item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 40%;
  padding: 1.5rem;
  background-color: #140432;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#about .timeline .timeline-item .date {
  font-size: 1.5rem;
  color: var(--text-highlight-color);
}
#about .timeline .timeline-item .description {
  font-size: 1.5rem;
  color: var(--text-color);
}
#about .timeline .timeline-item:nth-child(odd) {
  flex-direction: row-reverse;
  border-left: var(--secondary-color) 5px solid;
  text-align: right;
  transform: translateX(60%);
  border-radius: 0 16px 16px 0;
}
#about .timeline .timeline-item:nth-child(even) {
  border-right: var(--secondary-color) 5px solid;
  text-align: left;
  transform: translateX(-60%);
  border-radius: 16px 0 0 16px;
}

#veille {
  position: relative;
  height: 70vh;
}
#veille .spinner-wrapper {
  height: 370px;
  width: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#veille .spinner-wrapper .spinner-inner {
  position: absolute;
  z-index: 2;
}
#veille .spinner-wrapper .spinner-inner img {
  padding: 2rem;
  border-radius: 50%;
  width: 300px;
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}
#veille .spinner-wrapper .spinner-inner img:hover {
  filter: grayscale(0%);
  border-color: var(--text-highlight-color);
}
#veille .spinner-wrapper .spinner-outer {
  z-index: 1;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 450px;
  height: 450px;
  border: 2px dashed var(--secondary-color);
  border-radius: 100%;
  animation: rotate-right 10s infinite linear;
  transform-origin: center;
}
#veille .spinner-wrapper .spinner-outer:hover {
  animation-play-state: paused;
}
#veille .spinner-wrapper .spinner-outer:hover .link img {
  animation-play-state: paused;
}
#veille .spinner-wrapper .spinner-outer:hover .link img::after {
  content: "Cliquez pour en savoir plus";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-highlight-color);
  font-size: 1.5rem;
  font-weight: bold;
}
#veille .spinner-wrapper .spinner-outer .link {
  background: var(--text-highlight-color);
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 60px;
  margin: -20px;
}
#veille .spinner-wrapper .spinner-outer .link img {
  width: 100%;
  height: 100%;
  animation: rotate-left 10s infinite linear;
  transform-origin: center;
}
#veille .spinner-wrapper .spinner-outer .link:nth-child(1) {
  top: 50%;
  left: 0;
  transform-origin: 100% 50%;
}
#veille .spinner-wrapper .spinner-outer .link:nth-child(2) {
  top: 100%;
  left: 50%;
  transform-origin: 50% 0;
}
#veille .spinner-wrapper .spinner-outer .link:nth-child(3) {
  top: 50%;
  left: 100%;
  transform-origin: 0 50%;
}
#veille .spinner-wrapper .spinner-outer .link:hover::after {
  content: data-tooltip;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--text-color);
  width: 100px;
  padding: 0.5rem;
  border-radius: 8px;
  color: var(--text-highlight-color);
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .articles {
    padding: 16px 0;
    display: flex; /* Rend le conteneur flexible */
    overflow-x: auto; /* Active le défilement horizontal */
    overflow-y: hidden; /* Empêche le défilement vertical dans le conteneur */
    -webkit-overflow-scrolling: touch; /* Défilement fluide sur iOS */
    max-width: 100vw; /* Assure que le conteneur ne dépasse pas la largeur de la fenêtre */
    margin: 0 auto; /* Centre le conteneur si nécessaire */
  }
  .articles::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement */
  }
  .articles article {
    flex-shrink: 0; /* Empêche les articles de réduire leur taille */
    margin-right: 20px; /* Espacement entre les articles */
  }
  .articles article:last-child {
    margin-right: 0; /* Supprime l'espacement du dernier article */
  }
}
/* Animation pour le curseur clignotant */
@keyframes blinkingCursor {
  from {
    border-right-color: var(--text-highlight-color);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=home.css.map */