/* home.scss */

// Styles spécifiques à la page d'accueil
#hero {
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
        margin-top: auto;
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0;
        color: var(--text-highlight-color);
    }

    p {
        color: var(--text-color);
        text-align: center;
        padding: 1.5rem;
        margin-bottom: auto;
    }

    #changingText {
        border-right: 2px solid var(--text-highlight-color); /* Curseur clignotant */
        font-weight: bold; /* Rend le texte plus visible */
        white-space: nowrap; /* Assure que le texte ne passe pas à la ligne */
        overflow: hidden; /* Empêche le débordement du texte */
        letter-spacing: 0.15em; /* Espacement des lettres */
        color: var(--text-highlight-color);

        animation: blinkingCursor 0.8s steps(5, start) infinite;
    }

    a.primary {
        left: 50%;
        transform: translateX(-50%);
    }
}

#exp {
    #cv {
        text-align: center;
    }
    .articles {
        margin: 1.5rem auto;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    // Styles spécifiques à chaque article d'expérience
    .article-wrapper {
        background-color: #140432;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        width: 300px;
        height: 500px;
        border-radius: 16px;

        figure img {
            width: 100%; // Faites correspondre avec la largeur du wrapper pour éviter le débordement
            height: 168; // Hauteur automatique pour conserver les proportions de l'image
            border-radius: 16px 16px 0 0;
        }

        .article-body {
            padding: 1em;
            display: flex;
            flex-direction: column;

            p {
                height: 150px;
                text-align: left;
                font-size: 14px;
                padding: 1rem 0;
            }

            .skills {
                flex-grow: 1;
                border-top: 1px solid var(--text-color);
                border-bottom: 1px solid var(--text-color);
                padding: 1em;
                display: flex;
                justify-content: space-between;
            }

            .read-more {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }
    }

    .retours {
        margin: 1.5rem 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        .retour {
            color: white;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: rgb(20, 4, 50);
            border-left: var(--secondary-color) 5px solid;
            border-radius: 0 16px 16px 0;
            padding: 1em;

            p {
                text-align: left;
                font-size: 16px;
                flex-grow: 1; // Faites grandir <p> pour prendre tout l'espace disponible
                &::before {
                    content: "“";
                }
                &::after {
                    content: "”";
                }

                &::before {
                    margin-right: 0.25em;
                }
                &::after {
                    margin-left: 0.25em;
                }
            }

            .auteur {
                font-weight: bold;
                font-size: 16px;
                text-align: right;
            }
        }
    }

    .pagination-container {
        text-align: center;

        .pagination-btn {
            display: inline-block;
            margin: 0 5px;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.5); // Style pour le bouton non actif
            &.active {
                .pagination-fill {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: white; // Couleur de remplissage
                    animation: fillUp linear 5000ms; // Utilisez une variable pour le délai ou remplacez par la valeur fixe
                }
            }
        }
    }
}

#about {
    h3 {
        text-align: center;
        color: var(--text-highlight-color);
        border-bottom: var(--text-highlight-color) 2px solid;
        padding: 1rem 0;
    }

    .infos-perso {
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .info:not(:last-child) {
            width: 100%;
            text-align: center;
        }
    }

    .timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem auto;
        justify-content: center;
        align-items: center;

        .timeline-line {
            position: absolute;
            width: 5px;
            height: 100%;
            background-color: var(--secondary-color);
            left: 50%;
            transform: translateX(-50%);
        }

        .timeline-item {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            width: 40%;
            padding: 1.5rem;
            background-color: #140432;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

            .date {
                font-size: 1.5rem;
                color: var(--text-highlight-color);
            }

            .description {
                font-size: 1.5rem;
                color: var(--text-color);
            }

            &:nth-child(odd) {
                flex-direction: row-reverse;
                border-left: var(--secondary-color) 5px solid;
                text-align: right;
                transform: translateX(60%);
                border-radius: 0 16px 16px 0;
            }

            &:nth-child(even) {
                border-right: var(--secondary-color) 5px solid;
                text-align: left;
                transform: translateX(-60%);
                border-radius: 16px 0 0 16px;
            }
        }
    }
}

#veille {
    position: relative;
    height: 70vh;
    
    .spinner-wrapper {
        height: 370px;
        width: 370px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .spinner-inner {
            position: absolute;
            z-index: 2;
            img {
                padding: 2rem;
                border-radius: 50%;
                width: 300px;
                transition: all 0.3s ease-in-out;
                filter: grayscale(100%);
                
                &:hover {
                    filter: grayscale(0%);
                    border-color: var(--text-highlight-color);
                }
            }
        }
        
        .spinner-outer {
            z-index: 1;
            position: absolute;
            top: -10%;
            left: -10%;
            width: 450px; // Doit correspondre à la largeur totale du cercle de rotation souhaité
            height: 450px; // Doit correspondre à la hauteur totale du cercle de rotation souhaité
            border: 2px dashed var(--secondary-color);
            border-radius: 100%;
            animation: rotate-right 10s infinite linear;
            transform-origin: center;

            &:hover {
                animation-play-state: paused;

                .link img {
                    animation-play-state: paused;

                    &::after {
                        content: "Cliquez pour en savoir plus";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: var(--text-highlight-color);
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }
            }

            .link {
                background: var(--text-highlight-color);
                border-radius: 50%;
                position: relative;
                width: 60px;
                height: 60px;
                margin: -20px; // La moitié de la largeur/hauteur pour centrer les liens sur le chemin
            
                
                img {
                    width: 100%;
                    height: 100%;
                    animation: rotate-left 10s infinite linear;
                    transform-origin: center;
                }
                
                &:nth-child(1) {
                    top: 50%;
                    left: 0;
                    transform-origin: 100% 50%;
                }
                
                &:nth-child(2) {
                    top: 100%;
                    left: 50%;
                    transform-origin: 50% 0;
                }
                
                &:nth-child(3) {
                    top: 50%;
                    left: 100%;
                    transform-origin: 0 50%;
                }

                &:hover::after {
                    content: data-tooltip;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: var(--text-color);
                    width: 100px;
                    padding: 0.5rem;
                    border-radius: 8px;
                    color: var(--text-highlight-color);
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .articles {
        padding: 16px 0;
        display: flex; /* Rend le conteneur flexible */
        overflow-x: auto; /* Active le défilement horizontal */
        overflow-y: hidden; /* Empêche le défilement vertical dans le conteneur */
        -webkit-overflow-scrolling: touch; /* Défilement fluide sur iOS */
        max-width: 100vw; /* Assure que le conteneur ne dépasse pas la largeur de la fenêtre */
        margin: 0 auto; /* Centre le conteneur si nécessaire */

        &::-webkit-scrollbar {
            display: none; /* Cache la barre de défilement */
        }
    }

    .articles article {
        flex-shrink: 0; /* Empêche les articles de réduire leur taille */
        margin-right: 20px; /* Espacement entre les articles */

        &:last-child {
            margin-right: 0; /* Supprime l'espacement du dernier article */
        }
    }
}

/* Animation pour le curseur clignotant */
@keyframes blinkingCursor {
    from {
        border-right-color: var(--text-highlight-color);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}